.DS_Store

# Python caches
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Generated docs/artifacts
README.html
README_files/
plots/

# csv files 
*.csv

# image files 
*.png
*.pdf

# text files 
*.txt
